## API Configuration
VITE_API_URL=http://localhost:8000/api

## Application Configuration
VITE_APP_NAME="Easy DB Console"
VITE_DEFAULT_REGION="us-east-1"

## antigravity|code ...
VITE_VUE_DEVTOOLS_LAUNCH_EDITOR=antigravity

VITE_VUE_DEVTOOLS_OPEN_IN_EDITOR_HOST=http://localhost:3001
